
.category_radio{
    border-radius: 3px;
    padding: 10px;
    position: relative;
    color: #f4f4f4  ;
    border: none;
}

.category_radio::before{
    content: ''; 
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    border-radius: 3px;
    background-color: #4f4f4f;
    z-index: -2;
}

.category_radio::after{
    content: ''; 
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    border-radius: 3px;
    transition: all.3s;
    background-color: #FFD686;
    z-index: -1;
}

.category_radio:hover::after{
    width: 100%;
}

.category_radio.active::before{
    content: ''; 
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    border-radius: 3px;
    background-color: #FFD686;
    z-index: -2;
}
.history_post::before{
    content: ''; 
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    background-color:rgba(35, 58, 102, 0.8);
    z-index: -2;
}
.liked.history_post::before{
    content: ''; 
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    background-color:rgba(219, 144, 121, 0.8);
    z-index: -2;
}
.liked.history_post{
    /* color: #4f4f4f; */
}

.history_post::after{
    content: ''; 
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    transition: all.3s;
    border-radius: 3px;
    background-color: rgba(235, 224, 220, 0.8);;
    z-index: -2;
}
.history_post:hover::after{
    width: 100%;
}

.like_posts{
    background-color:rgba(219, 144, 121, 0.8);
    
}
.his_posts{
    background-color:rgba(35, 58, 102, 0.8);
    
}

.article_member_page_second_title{
    position: relative;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
    width: 100%;
    height: 120px;
    border-radius: 0;
    text-align: start;

}
.article_member_page_title{
    font-weight: 400;
    font-size: 46px;
    color: #FFFFFF;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: end;
    transition: all .3s;
}