/** remove information */

.changePassword-info,.changeAvatar-info {
    width: 500px;
    padding: 10px;
    background-color: #222222de;
    border-radius: 5px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
 
  }

  .change_info_true{
    display: flex;
  }
  
  .changePassword-info > p, .changeAvatar-info>p{
    color: #ffffff;
    font-weight: 600;
    font-size: 26px;
  }
  .changePassword_form>.member_box>label{
    color: #acacac;
  }
  
  .changePassword-info .btn-mygroup {
    width: 280px;
    display: flex;
    justify-content: space-between;
  }
  .changePassword_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
     margin-bottom: 30px;
  }
  .changePassword_form>.member_box{
    width: 100%;
  }

  
  .changePassword-info .fa-xmark {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
  }
  
  .changePassword-info .fa-xmark:hover {
    color: var(--textColorWhite);
  }
  
  /* 輸入錯誤警告框 */
  .input_alert_info{
    color: #FE0808;
    margin-top: -10px;
    display: none;
  }
  .input_alert_info.input_alert_true{
    display: block;
  }
 
  /* 大頭貼管理按鈕 */

  .avatar_btn{
    position: relative;
    color:#F4F4F4;
    width: 100%;
    height: 44px;
    border: 1px solid #FCC894;
}
  .avatar_btn:hover{
    color: #fff;
}
  .avatar_btn::before{
    content: ''; 
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    border-radius: 3px;
    background-color: #6b6b6b;
    z-index: -2;
   
}
.add_avatar.avatar_btn::before{
  content: ''; 
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  border-radius: 3px;
  background-color: #1D2D64;
  z-index: -2;
 
}
.delete_avatar.avatar_btn::before{
  content: ''; 
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  border-radius: 3px;
  background-color: #5a0505;
  z-index: -2;
 
}

.avatar_hover{
  position: relative;
  background-color: transparent;
  border-radius: 3px;

}

.avatar_hover::after{
  content: ''; 
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top:0;
  border-radius: 3px;
  transition: all.3s;
  background-color: #c2b5b533;
  z-index: -1;
}

.avatar_hover:hover::after{
  width: 100%;
} 