.mobile_nav {
  width: 375px;
  height: 50px;
  border-top: solid 1px #f4f4f4;
  background-color: white;
  position: sticky;
  bottom: 0;
}
.NavbarControlPanel_i {
  font-size: 9px;
}
.mobile_navcol {
  text-align: center;
  font-size: 17px;
  margin-top: 4px;
}
.mobile_word {
  text-align: center;
  font-size: 10px;
}
